.profile-parent-container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 60rem;
}
.profile-container {
  color: darkGrey;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 15rem;
  margin-left: 5rem;
}
.card-title {
  font-size: 2rem;
  border-bottom: 1px solid grey;
}
.card-row {
  font-size: 4rem;
  border-bottom: 1px solid grey;
}
.card-col {
  font-size: 3rem;
}
.name-col {
  font-size: 1.5rem;
}
.update-info {
  font-size: 4rem;
}
.user-info {
  font-size: 1rem;
}
